.about-container {
    font-family: "Lato";
}

.about-title {
    font-family: "Lato";
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.about-greeting {
    font-family: "Lato";
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.about-contents {
    font-family: "Lato";
    justify-content: center;  
    padding-bottom: 2rem; ;
    margin: 8px 15rem ;
}
