.product-title {
    font-size: 40px;
    font-family: Lato;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.complete-info-card {
    --bg-card: #fefeff;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);

    padding: 1rem;
    padding-top: 0.5rem;
    width: 20rem;
    height: 30rem;
    background-color: var(--bg-card);
  
    border-radius: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;

}

.product-selection {
  display: inline-grid;
  width: 20rem;
  margin-left: 3.2rem;
  margin-bottom: 2rem;
  /* display: grid;
  flex-direction: column;
  justify-items: center; */

  /* height: 30rem;  */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  /* grid-gap: 10px; */

}

.product-images {
  width: 100%;
  height: 200px;
  border-radius: 1rem;
  padding-bottom: 5%;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column; }
  /* overflow: hidden;
  cursor: pointer;

  position: relative;
  z-index: 5;

  width: 15.5rem;
  height: 13rem;
  background-color: var(--primary-800);

  border-radius: 0.5rem;

  position: absolute;
  left: 0.8%;  */
  /* transform: translate(-50%, -50%); */

  /* width: 3rem;
  fill: var(--light);  
}

.product-images:hover {
    transform: translateY(-25%);
    box-shadow: rgba(218, 215, 202, 0.25) 0px 13px 47px -5px, rgba(231, 190, 151, 0.3) 0px 8px 16px -8px; 
   }

.product-label {
    overflow: clip;

    width: 100%;
  
    font-size: 25px;
    font-family: Lato;
    font-weight: bold;
    color: var(--dark);
    text-wrap: nowrap;
    text-overflow: ellipsis;
}
.product-card-price {
    font-size: 40px;
    color: var(--dark);
    display: flex;
}

.product-disc {
    color: rgb(233, 133, 18);
    font-family: Lato;
    margin-top: 10px;
    margin-left: 10px;
}

.product-rating {
    color: rgb(78, 76, 85);
    font-family: Lato;
    margin-top: -1rem;
    font-size: 20px;
}

.btn-delete {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 0.5em;
    box-shadow: 0 0.20em 0.5em 0 rgba(82, 77, 71, 0.35);
    overflow: hidden;
    background-color: #bdbbb6;
    color: white;
    margin-left: 5rem;
    margin-bottom: 1rem;
}

.btn-view-more {
    outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 120px;
    height: 40px;
    border-radius: 0.5em;
    box-shadow: 0 0.20em 0.5em 0 rgba(175, 89, 3, 0.35);
    overflow: hidden;
    background-color: #ffb01e;
    color: white;
    margin-left: 5rem;

}

.product-disc {
  font-size: 20px;
  font-weight: bold;
} 